h1 
{
  font-size: 40pt;
  color: black;
}
h2 
{
  font-size:30pt;
  color: black;
}
p 
{
  color: black;
  font-size: 20pt;
  font-family: 'Times New Roman', Times, serif;
}
body
{
  background-color: rgb(186,255,205)
}